a.select-case-button.w-inline-block.is-active {
    border-radius: var(--pill, 999px);
    background: var(--neutral-background-bg-subtle_01, #20201F);
    box-shadow: 0 0 0 4px var(--overlays-overlay-black-2, rgba(252, 252, 252, 0.12)), 0 1px 2px 0 var(--overlays-overlay-black-1, rgba(252, 252, 252, 0.04));
}


.cases-image-gallery{
  right: 0;         
  overflow: hidden;
}

.cases-image-gallery::before{
  content:"";
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 240px;        
  pointer-events: none;
  z-index: 5;
  background: linear-gradient(90deg,
    rgba(32, 32, 31, 1) 0%,
    rgba(32, 32, 31, 0) 100%
  );
}

.portfolio-wrapper-image{
    overflow: hidden !important;
    width: 100%;
    touch-action: pan-y;
  }

  .portfolio-list-image.case-page{
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items: stretch !important;
    will-change: transform;
    transform: translate3d(0,0,0);
    gap: 12px !important;
    width: max-content !important;
  }

  .portfolio-item-image.case-page{
    flex: 0 0 auto !important;
    flex-shrink: 0 !important;
  }
